body {
    font-family: 'Antonio', sans-serif;
    background-color:lightblue;
    color:rgb(0, 140, 255);
    font: 20px;
}
.header_div {
    background:rgb(0, 140, 255);
    color: lightblue;
}
.header_div img{
    width: 100px;
    border-radius: 100px;
}
.main_div {
    background: tomato;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid red;
}
.main_div label {
    background: red;
    width: 300px;
    padding: 10px;
    margin-bottom: 0px;
}
#camera,#result{
    border: 2px solid white;
    width: 310px;
    height: 300px;
}
.main_div button {
    width: 310px;
    font-size: 15px;
    border: 1px solid;
    color: red;
}
.footer_div {
    margin-bottom: 60px;
}
.footer_div h4{
    background: rgb(0, 140, 255);
    border-radius: 10px;
    padding: 5px;
}
.footer_div img {
    width: 70px;
}
.copy_right_footer {
    position: fixed;
    color:lightblue;
    bottom: 0px;
    width: 100%;
    background-color: rgb(0, 140, 255);
    line-height: 3;
    text-align:center;
    height: 10px;
}
.img-responsive{
    height: 200px;
    border: 3px solid;
    border-radius: 20px;
}
.google{
    height: 150px;
    border: 3px solid;
    border-radius: 20px;
}